<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="suiteResult (suiteResult)">
    <div th:if="${not #lists.isEmpty(suiteResult)}">
        <div th:each="suite : ${suiteResult}"
             style="margin-bottom: 8px">

            <button type="button"
                    class="btn btn-info"
                    data-toggle="collapse"
                    th:attr="data-toggle-id=|erg${suite.id}|"
                    th:inline="text">Ergebnis der Aufgabe vom
                <span th:text="${suite.creationTime}"></span></button>
            <div class="suiteResultTable collapse" th:id="|erg${suite.id}|">
                <div>Du hast <span th:text="${suite.successCount}"></span> von <span
                        th:text="${suite.testCount}"></span> bestanden
                </div>
                <div th:unless="${#strings.isEmpty(suite.compileError)}">
                    Beim Compilieren ist ein Fehler aufgetreten...
                    <div th:utext="${suite.compileError}"></div>
                </div>
                <table th:if="${#strings.isEmpty(suite.compileError)}">
                    <tr>
                        <th class="resultHeadline">Input</th>
                        <th class="resultHeadline">Output</th>
                    </tr>
                    <tr th:each="test : ${suite.tests}">
                        <td th:text="${test.input}"></td>
                        <td th:text="${test.expected}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(suiteResult)}" class="noResultWrapper">
        <label>Noch kein Ergebnis verfügbar. Schau in ein paar Minuten nochmal nach</label>
    </div>
</th:block>