<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="suiteResult (suiteResult)">
    <div th:if="${not #lists.isEmpty(suiteResult)}">
        <table class="suiteResultTable" th:each="suite : ${suiteResult}">
            <label th:inline="text">Ergebnis der Aufgabe von <div th:text="${suite.creationTime}"></div></label>
            <tr th:unless="${#strings.isEmpty(suite.compileError)}">
                <td class="resultHeadline">Compile Error</td>
                <td th:utext="${suite.compileError}"></td>
            </tr>
            <tr>
               <td class="resultHeadline">Bestandene Tests</td>
               <td th:utext="${suite.successCount}"></td>
            </tr>
            <tr>
                <td class="resultHeadline">Fehlgeschlagene Tests</td>
                <td th:utext="${suite.errorCount}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(suiteResult)}" class="noResultWrapper">
        <label>Noch kein Ergebnis verfügbar. Schau in ein paar Minuten nochmal nach</label>
    </div>
</th:block>