<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="instructorResult (suiteResults)">
    <div th:if="${not #lists.isEmpty(suiteResults)}">
        <p>Überischt der Ergebnisse</p>
        <table>
            <tr>
                <th>Erfolgreiche Tests</th>
                <th>Fehlgeschlagene Tests</th>
            </tr>
            <tr th:each="suiteResult : ${suiteResults}">
                <th th:text="${suiteResult.successCount}"></th>
                <th th:text="${suiteResult.errorCount}"></th>
            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(suiteResults)}">Derzeit gibt es keine Ergebnisse</div>
</th:block>